.preview-modal /deep/ .ant-modal-body {
  min-height: 500px;
}
.preview-modal /deep/ .ant-modal-content {
  width: 900px;
}
.preview-modal .preview {
  padding: 0 30px 30px 30px;
}
.preview-modal .preview h2 {
  text-align: center;
  color: #fa5555 !important;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.preview-modal .preview .time {
  text-align: right;
  color: #909399;
  font-size: 12px;
}
.preview-modal .preview .content-text .line {
  display: flex;
  align-items: center;
  border-bottom: none;
}
.preview-modal .preview .content-text .line:last-child {
  border-bottom: 1px solid #fa5555 !important;
}
.preview-modal .preview .content-text .line .head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  color: #fa5555 !important;
}
.preview-modal .preview .content-text .line .content {
  border-left: 1px solid #fa5555 !important;
}
.preview-modal .preview .content-text .fir {
  line-height: 32px;
  box-sizing: border-box;
  border: 1px solid #fa5555 !important;
  border-bottom: none;
}
.preview-modal .preview .content-text .fir .head {
  margin-top: -1px;
  padding-left: 10px;
  color: #fa5555 !important;
  height: 48px !important;
  width: 124px;
}
.preview-modal .preview .content-text .fir .content {
  display: flex;
  align-items: center;
  max-width: 443px;
  height: 100%;
  padding-left: 10px;
  min-height: 48px;
}
.preview-modal .preview .content-text .sec {
  display: flex;
  border: 1px solid #fa5555 !important;
  border-bottom: none;
  position: relative;
  overflow: hidden;
}
.preview-modal .preview .content-text .sec .item {
  display: flex;
  height: 100%;
  min-height: 48px;
  border-right: 1px solid #fa5555 !important;
}
.preview-modal .preview .content-text .sec .item:last-child {
  border-right: none;
}
.preview-modal .preview .content-text .sec .content {
  width: 284px;
  min-height: 48px;
  padding: 15px;
}
.preview-modal .preview .file-text {
  margin-top: 60px;
}
.preview-modal .preview .file-text .head {
  text-align: center;
}
.preview-modal .preview .file-text .head h3 {
  color: #fa5555 !important;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #f56c6c !important;
}
